.three-columns-background{
  background-image: url("../../assets/3ColumnsBackground@2x.png");
  background-size: cover;
  padding: 1rem;
}
.three-columns-container{
  padding: 4rem;
  //overflow: scroll;
}
.three-columns-box{
  padding: 0 2rem;
}
.three-columns-box-number{
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.three-columns-box-title{
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.three-columns-box-text{
  font-family: $font-alt;
  font-weight: 300;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
