.home-header-banner{
  height: 100vh;
  background-size: cover;
  background-position: right;
  background-image: url("HeroImage@2x.png");
}
.home-header-nav-bar{
  height: 150px;
}
.home-header-content{
  height: 100vh;
}
.home-header-text-buttons {
  height: calc(100vh - 150px);
  align-items: center;
  justify-content: center;

}
.home-header-nav-menu{
  padding: 0.8rem 1rem;
  justify-content: flex-end;
}
.home-header-nav-login{
  padding: 0.8rem 1rem;
  font-size: 0.8rem;
  color: #737373;
}
.home-header-nav-bar-element{
  margin: 1rem;
  &:hover{
    border: 1px solid #FAD648;
    padding: 0.15rem 0.4rem ;
  }
}
.home-header-nav-menu-element{
  margin: 0 1rem;
  &:hover{
    border: 1px solid black;
    padding: 0.3rem 0.5rem ;
  }
}
.home-header-text-buttons-text{
  font-size: 3rem;
  text-align: center;

  //justify-self: center;
  //align-self: center;
}
.home-header-buttons-box{
  //display: flex;
  justify-content: center;
  align-items: center;
}
.fancy-selector{
  display: flex;
  justify-self: center;
  align-self: center;
}
.uppercase-button{
  font-family: $font-base;
  font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
  background-color: white;
  border: 1px solid black;
  text-transform: uppercase;
  flex: 2;
  &:hover{
    background-color: #baeaf8;
    border: 1px solid black;
  }
}
