.logged-header-empty-nav-column{
  overflow: visible;
  height: 150px;
}
.logged-header-photo-background-box{
  //height: 100vh;
  //offset: 100px;
  position: relative;
}
.logged-header-photo-background{
  height: calc(100vh - 126px);
  position: absolute;
  top: -150px;
  left: 0;
}
.logged-header-content-box{
  display: grid;
  place-content: center;
}
.logged-header-steps-box{
}
.logged-header-whole-content-with-photo{
  height: calc(100vh - 300px);
}
.logged-header-steps-content-box{
  margin: 0 5rem;
}
.logged-header-step-box{
  border: 1px solid black;
  transform: rotate(45deg);
  line-height: 0.8rem;
  height: 8.5rem;
  width: 8.5rem;
  display: grid;
  place-content: center;
}
.cancel-transformation{
  transform: rotate(-45deg);
  padding: 0 0.5rem 1rem 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
}
.logged-header-step-box-number{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}
.logged-header-steps-content-box-header{
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 300;
}
.logged-header-step-box-text{
  font-weight: 300;
}
.logged-header-yellow-bar{
  background-color:#FAD648;
  width: 100%;
  height: 150px;
  display: grid;
  place-content: center;
}
.logged-header-yellow-bar-header{
  font-weight: 600;
  font-size: 1.5rem;
}